html, body
{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: medium;
    text-align: justify;
    text-decoration: none;
    height: 100%; 
}

body
{
  margin: 0;
  background-image: url("~/assets/img/wallpaper_1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}