@font-face {
      font-family: "Poppins";
      src: local("Poppins"), url(../font/Poppins.ttf) format("truetype");
      font-display: swap; /* temporarily show a system font until custom font is loaded */
}

html, body {
      font-family: Poppins, sans-serif;
      font-size: medium;
      text-align: justify;
      text-decoration: none;
      height: 100%; 
      color: ghostwhite;
}

body {
      margin: 0;
      background-image: url("~/assets/img/background.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
}

main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: flex-start;
      color: ghostwhite;
}

img {
      height: 40px;
      width: auto;
      transition: 0.5s ease all;
}

.separator {
      width: 95%;
      align-self: center;
      height: 1px;
      border: 0;
      margin:0;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 255), rgba(0, 0, 0, 0));
}

.separator-mobile {
      width: 85%;
      align-self: center;
      height: 1px;
      border: 0;
      margin:0;
      background-image: linear-gradient(to right, rgba(30, 61, 88, 0), rgba(30, 61, 88, 255), rgba(30, 61, 88, 0));
}

/* Links style */
a {
      color: aliceblue;
      text-decoration: none;
}

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}

.bottom-links {
      display: flex;
      justify-content: space-around;
      margin: 3% 0%;
      flex-wrap: wrap;
}

.contact-link-text {
      color: #1E3D58;
      font-weight: bold;
      text-decoration: none;
}
 
.contact-link-text:hover {
      color: #057DCD;
      font-weight: bold;
      text-decoration: underline;
}

/* Sorting order selectors style */
#sorting-selector-team, #sorting-selector-proj {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      align-self: center;
      margin: 2%;
      gap: 10px;
      font-size: 18px;
      min-width: 300px;
      margin-top: 30px;
}

label {
      font-weight: bold;
}

.menu {
      border-radius: 5px;
      border: none;
      font-size: 18px;
      font-family: inherit;
      padding: 0 2vh;
      cursor: pointer;
      width: 60%;
      background-color: rgba(255, 255, 255, 0.9);
      appearance: auto;
}

/* Cards container style */
#generic-cards-container {
      padding: 3% 15%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      gap: 50px;
}


.update_date {
      font-size: 18px;
      margin: 30px 10px 10px 50px;
}